@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px; /* Base font size for scaling */
}
body {
  background-color: #2e3440;
  color: #eceff4;
  font-family: "JetBrains Mono", monospace;
}
/* Custom scrollbar for brutalist look */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #2e3440;
  border-left: 1px solid #4c566a;
}
::-webkit-scrollbar-thumb {
  background: #4c566a;
  border: 1px solid #2e3440;
}
::-webkit-scrollbar-thumb:hover {
  background: #88c0d0;
}
